<h1>Eat-Da-Burger!</h1>


<div id="make-burger">
  <h2>What can we get you?</h2>
  <ul>
    {{#each burgers}}
    {{#unless eaten}}

    {{/unless}}
    {{/each}}
  </ul>
</div>

<div id="eat-burgers">
  <h2>Burgers are ready to eat!</h2>
  <ul>
    {{#each burgers}}
    {{#if eaten}}

    {{/if}}
    {{/each}}
  </ul>
</div>

<div id="delete-burgers">
  <h2>Burgers are ready to eat!</h2>
  <ul>
    {{#each burgers}}
    {{#if eaten}}

    {{/if}}
    {{/each}}
  </ul>
</div>